body {
    background-color: rgb(32, 33, 36);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0px;
}

.letra {
    color: white;
    font-size: 14px;
}

.icono-buscador {
    display: inline-block;
    width: 20px;
    margin: 0px;
}

.justify-between {
    justify-content: space-between;
}

#links-footer {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

ul {
    padding-left: 0px;
}

ul li {
    display: inline;
    padding: 15px;
}

footer p {
    padding: 15px;
    margin: 0px;
}


footer {
    background: #171717;
}

.linea-arriba {
    border-top: 1px solid #dadce0;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0px;
}

#perfil {
    border-radius: 50%;
}

main {
    display: flex;
    justify-content: center;
    height: 54vh;
    align-items: flex-start;
    padding: 9vh;
}

article {
    text-align: center;
}

#logo img {
    width: 272px;
}

#botones button {
    background-color: #303134;
    border: 1px solid #303134;
    margin: 11px 4px;
    color: #e8eaed;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#botones {
    padding-top: 10px;
}


#botones button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #303134;
    border: 1px solid #dadce0;
    color: #e8eaed;
}

#buscador {
    border: 1px solid #E8E8E8;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    padding: 8px 10px;
    align-items: flex-end;
    width: 530px;
    margin: 1.5em;
}

#buscador:hover {
    background: #303134;
    box-shadow:  0 1px 6px rgba(32, 33, 36, .28);
    border-color: transparent;
}

#buscador input {
    background-color: rgb(32, 33, 36);
    flex-grow: 1;
    border: none;
    outline: none;
}

footer a {
    color: #e8eaed;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

header a {
    color: #dadce0;
    text-decoration: none;
    font-size: 13px;
}
